# Data Preprocessing

In [11]:
import pandas as pd
import numpy as np

In [12]:
# Load the data
df = pd.read_csv('data/0326(初版).csv')

### 處理 missing values

In [13]:
# Check if there are any missing values
missing_value = df.isnull().sum()
missing_value = missing_value.reset_index()
missing_value.columns = ['column_name', 'missing_values']
# missing_value.to_csv('data/缺失值.csv', index=False)

In [14]:
# 移除不要的欄位
df = df.drop(columns=['備註', '土地位置建物門牌', '物件編號', '移轉層次','總價元'])
# 「都市土地使用分區」有缺值部分直接刪掉整條 row
df = df.dropna(subset=['都市土地使用分區', '主要建材'])
print(df.shape)

(48441, 91)

### Converting to original columns names to more readable version

In [15]:
rename_dict = {
    'A': '政府機構',
    'B': '各級學校',
    'C': '醫療院所',
    'D': '飯店旅館',
    'E': '金融機構',
    'F': '觀光旅遊',
    'G': '休閒娛樂',
    'H': '逛街購物',
    'I': '餐飲小吃',
    'J': '行車服務',
    'K': '交通設施',
    'L': '民間機構',
    'X': '鄰避設施'
}

# Assuming your DataFrame is named df_cleaned
df.rename(columns=rename_dict, inplace=True)

### Check the data type

In [16]:
# Convert `收盤指數` to float, removing any formatting that's causing it to be read as an object
df['收盤指數'] = df['收盤指數'].str.replace(',', '').astype(float)

In [17]:
# Check the data type of each column
data_type = df.dtypes.reset_index()
data_type.columns = ['column_name', 'data_type']
data_type.to_csv('data/資料型態.csv', index=False)

### Encoding Categorical Variables

需要處理的欄位：都市土地使用分區、主要建材

> **都市土地使用分區**

In [18]:
land_distribution = df['都市土地使用分區'].value_counts()
land_distribution = land_distribution.reset_index()
land_distribution.columns = ['land_usage', 'count']
# land_distribution.to_csv('data/都市土地使用分區.csv', index=False)

In [19]:
# 把開頭是「都市：其他」的資料先全部變成一個種類：「都市」
df['都市土地使用分區'] = df['都市土地使用分區'].apply(lambda x: '都市' if x.startswith('都市：其他:') else x)
df['都市土地使用分區'].value_counts()

住     28315
商     15655
都市     3581
工       884
農         6
Name: 都市土地使用分區, dtype: int64

In [20]:
# 做 one-hot encoding
df_encoded = pd.get_dummies(df, columns=['都市土地使用分區'], drop_first=True)
df_encoded.head()

,土地移轉總面積平方公尺,交易年月日,總樓層數,主要建材,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,建物現況格局-隔間,有無管理組織,...,車位類別_坡道機械,車位類別_塔式車位,土地,建物,車位,建物年齡,都市土地使用分區_商,都市土地使用分區_工,都市土地使用分區_農,都市土地使用分區_都市
0,29.50,1100101,4,鋼筋混凝土加強磚造,86.21,3,2,1,1,0,...,0,0,1,1,0,18701,0,0,0,0
2,10.84,1100101,12,鋼筋混凝土造,82.75,2,1,0,1,1,...,0,0,2,1,0,15687,0,0,0,0
3,27.35,1100101,12,鋼筋混凝土造,169.77,1,1,1,1,1,...,0,0,1,2,0,11826,1,0,0,0
4,2.35,1100101,14,鋼筋混凝土造,22.61,1,1,1,1,1,...,0,0,1,1,0,14589,1,0,0,0
5,28.50,1100101,5,鋼筋混凝土造,132.08,3,3,2,1,0,...,0,0,1,1,0,13181,0,0,0,0

> **主要建材**

In [21]:
main_materials = df_encoded['主要建材'].value_counts()
main_materials = main_materials.reset_index()
main_materials.columns = ['main_materials', 'count']
# main_materials.to_csv('data/主要建材.csv', index=False)

In [22]:
# 將 count 少於 100 的主要建材歸類為「其他」
material_counts = df_encoded['主要建材'].value_counts()
mask = material_counts < 100
materials_to_replace = mask[mask].index.tolist()
df_encoded['主要建材'] = df_encoded['主要建材'].apply(lambda x: '其他' if x in materials_to_replace else x)

# Check the updated value counts
print(df_encoded['主要建材'].value_counts())

鋼筋混凝土造      43615
鋼骨造          1505
加強磚造         1503
鋼骨鋼筋混凝土造     1410
其他            408
Name: 主要建材, dtype: int64

In [23]:
# 做 one-hot encoding
data = pd.get_dummies(df_encoded, columns=['主要建材'], drop_first=True)
data.head()

,土地移轉總面積平方公尺,交易年月日,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,建物現況格局-隔間,有無管理組織,單價元平方公尺,...,車位,建物年齡,都市土地使用分區_商,都市土地使用分區_工,都市土地使用分區_農,都市土地使用分區_都市,主要建材_加強磚造,主要建材_鋼筋混凝土造,主要建材_鋼骨造,主要建材_鋼骨鋼筋混凝土造
0,29.50,1100101,4,86.21,3,2,1,1,0,133395.0,...,0,18701,0,0,0,0,0,0,0,0
2,10.84,1100101,12,82.75,2,1,0,1,1,223565.0,...,0,15687,0,0,0,0,0,1,0,0
3,27.35,1100101,12,169.77,1,1,1,1,1,111916.0,...,0,11826,1,0,0,0,0,1,0,0
4,2.35,1100101,14,22.61,1,1,1,1,1,176913.0,...,0,14589,1,0,0,0,0,1,0,0
5,28.50,1100101,5,132.08,3,3,2,1,0,264991.0,...,0,13181,0,0,0,0,0,1,0,0

In [24]:
# Save the cleaned data
data.to_csv('data/cleaned_data.csv', index=False)

### Splitting the data (test / train)
- 業主：交易日期 110 -112 年用來當Training，先確認該時間段的資料筆數，若是足夠的話可以用日期去切就好了
- 但我看不懂他的意思，所以我用 20-80 切

In [55]:
# First ensure the transaction date is an integer or string
data['交易年月日'] = data['交易年月日'].astype(str)

# Sort the DataFrame based on the transaction date
data_sorted = data.sort_values(by='交易年月日')

# Calculate the index at which to split the data (80% for training, 20% for testing)
split_index = int(len(data_sorted) * 0.8)

# Split the DataFrame into training and testing sets
training_data = data_sorted[:split_index]
test_data = data_sorted[split_index:]

# Verify the split
print(f"Training data shape: {training_data.shape}")
print(f"Test data shape: {test_data.shape}")

Training data shape: (38752, 97)
Test data shape: (9689, 97)